<!DOCTYPE html>
<html>
<head>
    <title>Subscription List</title>
</head>
<body>
    <h1>Subscription Boxes</h1>
    <ul>
        {% for subscription in subscriptions %}
            <li>
                <a href="{% url 'subscription_management:subscription_detail' subscription.id %}">{{ subscription.name }}</a>
                - Type: {{ subscription.type }}
                - Price: {{ subscription.price }}
                <ul>
                    {% for item in subscription.items %}
                        <li>{{ item.name }} (Quantity: {{ item.quantity }})</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
