{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <!-- Optional CSS for specific styling can be added here -->
{% endblock meta %}

{% block content %}
<div class="container mt-4">
    <h1 class="my-3 text-center">Explore Our Boxes</h1>
    <div class="mb-3">
        <form id="priceFilterForm" class="input-group mb-3 justify-content-center">
            <div class="input-group">
                <input type="number" class="form-control" id="minPrice" name="minPrice" placeholder="Minimum Price">
                <input type="number" class="form-control" id="maxPrice" name="maxPrice" placeholder="Maximum Price">
                <input type="text" class="form-control" id="name" name="name" placeholder="Search by Name">
                <button type="button" class="btn btn-info" onclick="filterBoxes()">Filter</button>
            </div>
        </form>
    </div>
    
    <div id="boxesCards" class="row"></div>
    
    <div class="d-flex justify-content-center mt-3">
        <button onclick="location.href=`{% url 'subscription_management:subscription_history' %}`" type="button" class="btn btn-primary mx-2">
            See Subscription List
        </button>
    
    </div>
</div>

<script src="{% static 'filter_boxes_rev.js' %}"></script>
{% endblock content %}
