{% extends 'base.html' %}

{% block meta %}
<title>Subscription Box Manager</title>
{% endblock meta %}

{% block content %}
<div class="modal fade" id="modal-1" tabindex="-1" aria-labelledby="modal-1-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-1-label">Create a Subscription Box</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="request-form-1">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" class="form-control" id="price" name="price" required>
                    </div>
                    <div class="mb-3">
                        <label for="type" class="form-label">Type</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="type" id="qtr" value="QTR">
                            <label class="form-check-label" for="qtr">QTR</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="type" id="mth" value="MTH">
                            <label class="form-check-label" for="mth">MTH</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="type" id="saa" value="SAA">
                            <label class="form-check-label" for="saa">SAA</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" onclick="createSubscription()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-2" tabindex="-1" aria-labelledby="modal-2-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-2-label">Create Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="request-form-2">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="number" class="form-control" id="quantity" name="quantity" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" onclick="createItem()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<h1>Subscription Box Manager</h1>
<div class="container mt-4 flex justify-between">
    <div class="card mb-3">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Subscription Boxes</h2>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-1" id="create-box">Add Subscription Box</button>
            </div>
        </div>
        <div class="card-body">
            <table class="table hover" id="boxesTable">
                <thead>
                    <tr>
                        <th>Subscription Box</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for box in boxes %}
                    <tr>
                        <td>{{ box.name }}</td>
                        <td>{{ box.price }}</td>
                        <td>{{ box.type }}</td>
                        <td>
                            <a class="btn btn-outline-primary" href="{% url 'subscription_box:get_subscription' box.id %}">Detail</a>
                            <button class="btn btn-outline-danger"  onclick="deleteBox('{{box.id}}')" method="POST">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container mt-4 flex justify-between">
    <div class="card mb-3">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
            <h2>Items</h2>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-2" id="create-item">Add Item</button>
            </div>
        </div>
        <div class="card-body">
            <table class="table hover">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            <a class="btn btn-outline-primary" href="{% url 'subscription_box:get_item' item.id %}">Detail</a>
                            <button class="btn btn-outline-danger" onclick="deleteItem('{{item.id}}')" method="POST">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>




<script>
    function deleteItem(itemId) {
        console.log("deleteItem called with id:", itemId);
        const response = fetch(`/manage/item/delete/${itemId}`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            if (response.ok) {
                window.location.reload();
                refreshItem();
            }
        });
    }

    function deleteBox(boxId) {
        console.log("deleteBox called with id:", boxId);
        const response = fetch(`/manage/box/delete/${boxId}`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            if (response.ok) {
                window.location.reload();
                refreshBox();
            }
        });
    }

    async function refreshBox() {
        const response = await fetch('{% url "subscription_box:all_subscriptions" %}' );
        const data = await response.json();
        console.log(data);
        const table = document.getElementById('boxesTable');
        const tbody = table.querySelector('tbody');
        tbody.innerHTML = '';
        data.forEach(box => {
            const tr = document.createElement('tr');
            tr.innerHTML = `
                <td>${box.name}</td>
                <td>${box.price}</td>
                <td>${box.type}</td>
                <td>
                    <button class="btn btn-outline-primary" onclick="getBox(${box.id})">Detail</button>
                    <button class="btn btn-outline-danger" onclick="deleteBox('${box.id}')" method="POST">Delete</button>
                </td>
            `;
            tbody.appendChild(tr);
        });
    }

    async function refreshItem() {
        const response = await fetch('{% url "subscription_box:all_items" %}');
        const data = await response.json();
        const table = document.getElementById('itemsTable');
        const tbody = table.querySelector('tbody');
        tbody.innerHTML = '';
        data.forEach(item => {
            const tr = document.createElement('tr');
            tr.innerHTML = `
                <td>${item.name}</td>
                <td>${item.quantity}</td>
                <td>
                    <button class="btn btn-outline-primary" onclick="getItem(${item.id})">Detail</button>
                    <button class="btn btn-outline-danger" onclick="deleteItem('${item.id}')" method="POST">Delete</button>
                </td>
            `;
            tbody.appendChild(tr);
        });
    }

    function createSubscription() {
        const form = document.getElementById('request-form-1');
        fetch('/manage/box/create', {
            method: "POST",
            body: new FormData(form)
        })
        .then((response) => {
            if (response.ok) {
                window.location.reload();
                refreshBox();   
            }
        });  
    }

    function createItem() {
        const form = document.getElementById('request-form-2');
        const formData = new FormData(form);
        fetch('/manage/item/create', {
            method: 'POST',
            body: formData
        }).then(response => {
            if (response.ok) {
                window.location.reload();
                refreshItem();
            }
        });
    }

    window.onload = async function(){
        refreshBox();
        refreshItem();
    }
</script>
{% endblock content %}

