{% extends 'base.html' %}

{% block meta %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>B12 - Subscription Boxes</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
{% endblock meta %}

{% block content %}
<header class="bg-light py-5">
    <div class="container text-center">
        <h1 class="display-4 font-weight-bold">Subscription Boxes - B12</h1>
        <div class="my-4">
            <a href="{% url 'authentication:login' %}" class="btn btn-primary btn-lg mx-2">Login</a>
            <a href="{% url 'authentication:register' %}" class="btn btn-primary btn-lg mx-2">Register</a>
            {% if request.COOKIES.username %}
            <a href="{% url 'authentication:profile_detail' request.COOKIES.username %}" class="btn btn-secondary btn-lg mx-2">My Profile</a>
            {% endif %}
        </div>
    </div>
</header>
{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
